@page
@model TicTacToe.Pages.ServerCheckersModel
@{
    ViewData["Title"] = "ServerCheckers";
}

<h1>Checkers</h1>
<p>(Black goes first)</p>

<div id="board">
    @for (int y = 0; y < 8; y++)
    {
        @for (int x = 0; x < 8; x++)
        {
            <div class="square @((x + y) % 2 == 0 ? "red" : "black")">
                @if (@Model.Game.Board[x,y] != null)
                {
                    <div class="checker @Model.Game.Board[x,y].Color" draggable="true" data-x="@x" data-y="@y"></div>
                }
            </div>
        }
    }
</div>

<form method="post">
    <input type="text" name="checkerX" />
    <input type="text" name="checkerY" />
    <input type="text" name="squareX" />
    <input type="text" name="squareY" />
    <textarea name="state">
        @Model.Game.Serialize()
    </textarea>
    <input type="submit" name="Make a move" />
</form>